html { font-size: 16px; } // define “root-em” (rem) size

body {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAE0lEQVQIW2N48+bNfxhggLPwcgDQbi+YlZXTEQAAAABJRU5ErkJggg==');
  position: relative;
  min-height: 100vh;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;

  // text styling
  @include fontface;
  @include fontweight;
  overflow-wrap: break-word; // force wider-than-viewport words to break
  line-height: 1.5;
}
//h1 { @include heading(2); text-transform:capitalize; }

//h2 { @include heading(1.6); @include edge($color: #ddd, $distance: 0.5rem); }

//h3 { @include heading(1.4); }

//h4 { @include heading(1.2); }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-weight: 400;
    color: #315572;
}

h1 {
  font-size: 2rem;
}
h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

#main h4 {
    line-height: 1.6em;
}

hr { display: none; }

a {
  color: #22953c; @include underline(#ddd);
  &:visited { @include underline(#fff); }
  &:hover   { @include underline(#96dba5); }
  &:active  { @include highlight(#40867e) }
}

b, strong { @include fontweight(bold); }

dfn { @extend b; font-style: normal; }

mark {
  @include fontweight(bold);
  padding: 0 0.25rem;
}

li {
  margin: 0.5rem 0;
  line-height: 1.25;
  p, pre, ol, ul, blockquote { margin: 0.75rem 0; }
}
/* Code */
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
}


pre { // code blocks
  @include inset;
  font-size: 0.875rem;

  code { // override inline <code> rules
    padding: 0;
    font-size: inherit;
    white-space: pre;
    color: inherit;
    background-color: transparent;
    border: none;
  }
}

blockquote {
  @include fontface(serif);
  font-style: italic;
  font-size: 0.9375rem;
  border: 1px dotted $solarized_yellow;
  @include edge(left, 0.5rem, $solarized_yellow);
  @include inset($background-color: $solarized_base3);
  @include mobile-only { margin: 0; } // override browser default

  em, cite, i { font-style: normal; }

  mark { background-color: $solarized_yellow; color: $solarized_base3; }

 

  a:visited { @include underline($solarized_base3); }

}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}